<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-body">
    <div class="card mt-4">
        <div class="card-body">
          <h1>Meu perfil</h1>
          <h5 class="card-title"> <%= registers.nome %> | <%= registers.email %></h5>
          <p class="card-text"><%= registers.telefone %></p>
          <a href="#" class="btn btn-primary">Editar perfil</a>
        </div>
      </div>
</div>
<%- include ('./partials/footer.ejs') %>